body {
  background: #2B3990;  

}

.matisse{
	position:absolute;
	margin-top:107px;
	margin-left:220px;
	width:31%;
	height:auto;
}

.bodytext{
font-family: Myriad Pro;
color:white;
font-size:14px;
	position:absolute;
	left:780px;
    top:180px;
    width:440px;
    text-align:justify;
    	z-index: 10001;


}

.name{
font-family:Eds Market Regular;
color:#EF4136;
font-size:17px;
	position:absolute;
	left:780px;
    top:120px;
 


}

.button{
	font-family:Myriad Pro;
color:white;
font-size:15px;
	position:absolute;
	left:1350px;
    top:12px;
   
}

.dot{
position:absolute;
   top:-20px;
left:30px;
	width:95%;
	height:100%;
	z-index: 10000;




}


